.cardWrapper {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 15px;
  gap: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.button {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 20px;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(213, 172, 94, 0.57);
  }
}

.price {
  font-size: 20px;
  font-weight: 700;
}

.description {
  line-height: 1.8;
}

.image {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}