.cardWrapper {
  max-width: 300px;
  height: 400px;
  cursor: pointer;
  border: 2px solid darkcyan;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 20px;

  &:hover {
    background-color: rgba(0, 139, 139, 0.35);
  }

  &:visited {
    color: black;
  }
}

.listItem {
  display: flex;
  align-items: center;
}