.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productsList {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listRow {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.listItem {
  display: flex;
  align-items: center;

}